*,
*:after,
*:befpre {
  box-sizing: border-box;
}

body {
  background-color: #091e36;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

canvas {
  background-color: transparent;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}
